* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here 
*/
/* in this specific case, display:flex tells the browser how to display the content within the nav element.*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO: Write your answer here 
*/

/* flex-wrap tells the browser how/if to wrap content to a new line when it exceeds the available space. */
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: Write your answer here 
*/

/* justify-content tells the browser/content how to display in relation to its surroundings. in this case, justify-content:center is telling the .products class to center itself within the available space. */
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: Write your answer here 
*/

/* the flex property is shorthand for flex-grow, flex-shrink and flex-basis. it is telling the card elements how to display relative to each other. */
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Write your answer here 
*/

/* flex-direction tells the contents how to wrap, whether column, row, or reverse orders of those options. */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
